<div class="wrapper">

    <div class="box header">
      <app-headline-component id="header"></app-headline-component>
    </div>

    <div class="box sidebar">
      <app-progress-component ></app-progress-component>
    </div>

    <div class="box board">
      <app-board-component ></app-board-component>
    </div>

    <div class="box result">
      <app-result-component ></app-result-component>
    </div>

    <div class="box footer">
      <app-bank-component ></app-bank-component>
    </div>
</div>
