.wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-auto-flow: column ;
  grid-template-areas:
  "sidebar bounds  result" ;
  align-content: center
}

.result {
  grid-area: result;
  padding-left: 10%;
  padding-top: 50%;
  height :100%;
  position: relative;
}


.sidebar {
  grid-area: sidebar;
  margin-right: 10%;
  padding-left: 10% ;
  padding-top: 50%;
  height :100%;
  position: relative;
}

.content {
  height :100%;
}

.sec1 {
  padding-bottom:10%;
  padding-bottom: 10% ;
}

.sec2 {
 position: relative;
 align-content: center ;
 padding-left:35%;
 padding-bottom: 10% ;
}

.sec3 {
  padding-top:10%;
  padding-top:5%;
}
